<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Admin Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Admin Dashboard</h1>
    
    <div class="row mt-4">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Posts</h5>
                    <p class="card-text">Manage all blog posts</p>
                    <a th:href="@{/admin/posts}" class="btn btn-primary">View All Posts</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Comments</h5>
                    <p class="card-text">Manage all comments</p>
                    <a th:href="@{/admin/comments}" class="btn btn-primary">View All Comments</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Categories</h5>
                    <p class="card-text">Manage all categories</p>
                    <a th:href="@{/admin/categories}" class="btn btn-primary">View All Categories</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>