<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Posts</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Posts</h1>

    <!-- List of Posts -->
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-3" th:each="post : ${pagedResult.data}">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="${post.title}">Post Title</h5>
                    <p class="card-text" th:text="${post.shortDescription}">Short Description</p>
                </div>
                <div class="card-footer" style="background: transparent; border-top: 0;">
                    <div class="d-grid gap-2">
                        <a th:href="@{'/posts/' + ${post.slug}}" class="btn btn-primary">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div>
        <ul class="pagination">
            <!-- Previous Button -->
            <li th:if="${pagedResult.hasPrevious}" class="page-item">
                <a th:href="@{'/posts?page=' + ${pagedResult.pageNumber - 1}}" class="page-link">Previous</a>
            </li>

            <!-- Page Numbers -->
            <li th:each="i : ${#numbers.sequence(1, pagedResult.totalPages)}" class="page-item" th:classappend="${i == pagedResult.pageNumber} ? 'active'">
                <a th:href="@{'/posts?page=' + ${i}}" class="page-link" th:text="${i}">1</a>
            </li>

            <!-- Next button -->
            <li th:if="${pagedResult.hasNext}" class="page-item">
                <a th:href="@{'/posts?page=' + ${pagedResult.pageNumber + 1}}" class="page-link">Next</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
