<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${post.title}">Post Details</title>
</head>
<body>
<div layout:fragment="content" class="container mt-4">
    <!-- Post title -->
    <h1 th:text="${post.title}" class="mb-4">Post Title</h1>

    <!-- Date of creation and author -->
    <p class="text-muted">
        Created on
        <span th:text="${post.createdDate}">2024-12-03</span>
        by
        <span th:text="${post.createdBy.name}">Author Name</span>
    </p>

    <!-- Post content -->
    <div class="post-content mt-4">
        <p th:utext="${post.contentHtml}">Post Content</p>
    </div>

    <!-- Button to return to the list of posts -->
    <div class="mt-4">
        <a th:href="@{/posts}" class="btn btn-primary">Back to Posts</a>
    </div>
</div>
</body>
</html>
